<div class="site-wrapper" (touchstart)="onTouchBackground($event)" (click)="onTouchBackground($event)">
  <canvas class="fireworks"></canvas>

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <header class="masthead clearfix">
        <div class="inner">
          <h1 class="masthead-brand">GAMEFIK</h1>
          <nav class="nav nav-masthead">
            <a class="nav-link" (click)="lockRaffle()" *ngIf="!this.raffleSessionSvc.locked">LOCK</a>
            <a class="nav-link" (click)="unlockRaffle()" *ngIf="this.raffleSessionSvc.locked">UNLOCK</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <router-outlet></router-outlet>
      </main>

      <footer class="mastfoot">
        <div class="inner">
          <p>
            Made with ❤ &nbsp;by <a href="javascript: void(0);">Gamefik</a>.
          </p>
        </div>
      </footer>

    </div>

  </div>

</div>
