<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <header class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">GAMEFIK</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link" href="javascript: void();">Voltar</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <!-- <router-outlet></router-outlet> -->
      </main>

      <footer class="mastfoot">
        <div class="inner">
          <p>
            Made with ❤ &nbsp;by <a href="javascript: void();">Gamefik</a>.
          </p>
        </div>
      </footer>

    </div>

  </div>

</div>
