<h1 class="display-1" [ngSwitch]="sessionSvc.state">
  <ng-container *ngSwitchCase="sessionStates.WAITING_SELECTION">Escolha uma raspadinha</ng-container>
  <ng-container *ngSwitchCase="sessionStates.WAITING_SCRATCH">Vamos lá, raspe agora e descubra seu prêmio</ng-container>
  <ng-container *ngSwitchCase="sessionStates.FINISHED">Parabéns</ng-container>
</h1>

<ul *ngIf="sessionSvc.state === sessionStates.WAITING_SELECTION">
  <li *ngFor="let card of sessionSvc.cardList">
    <button type="button" class="btn btn-dark mt-2" (click)="startScratch()">Card {{card}}</button>
  </li>
</ul>

<button type="button" class="btn btn-dark mt-2" (click)="finishScratch()" *ngIf="sessionSvc.state === sessionStates.WAITING_SCRATCH">Raspar</button>
<button type="button" class="btn btn-dark mt-2" (click)="finishRaffle()" *ngIf="sessionSvc.state === sessionStates.FINISHED">Bye Bye!</button>
