<h1 class="display-1">
  <ng-container *ngIf="!cardSelected">Escolha uma raspadinha</ng-container>
  <ng-container *ngIf="cardSelected && !scratched">Vamos lá, raspe agora e descubra seu prêmio</ng-container>
  <ng-container *ngIf="scratched">Parabéns</ng-container>
</h1>

<ul *ngIf="!cardSelected">
  <li *ngFor="let card of cardList">
    <button type="button" class="btn btn-dark mt-2" (click)="startScratch()">Card {{card}}</button>
  </li>
</ul>

<button type="button" class="btn btn-dark mt-2" (click)="finishScratch()" *ngIf="cardSelected && !scratched">Raspar</button>
